.unit-test {
  &--card {
    font-family: 'Space Mono', monospace;
    width: 25vw;
    margin: 8px;
    padding: 16px;
    & .title {
      font-size: 64px;
      letter-spacing: 8px;
    }
    & .subtitle {
      font-family: 'Flamenco', cursive;
      font-size: 32px;
      font-style: italic;
      font-weight: 400;
    }

    .form {
      padding: 16px;
      margin: 16px;
      display: flex;
      &.form-column {
        flex-direction: column;
      }

      &.form-row {
        border: #287c46 1px dashed;
        padding: 18px;
        @media (min-width: 500px) {
        }
        & > mat-form-field {
          margin-left: 16px;
        }
      }
    }

    &--actions {
      &send-button {
        background-color: #287c46;
      }
    }
  }

  &--description {
    @extend .unit-test--card;
    height: fit-content;
    & > .tab {
      margin-left: 40px;
    }
  }

}

.percent-display {
  font-size: 64px;
  background-color: #3f3f3f;
  display: flex;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  width: 200px;
}
