$md-unittestpalette0: (
  50 : #e8efed,
  100 : #c5d8d2,
  200 : #9fbeb4,
  300 : #79a395,
  400 : #5c907f,
  500 : #3f7c68,
  600 : #397460,
  700 : #316955,
  800 : #295f4b,
  900 : #1b4c3a,
  A100 : #8cffd1,
  A200 : #59ffbd,
  A400 : #26ffa8,
  A700 : #0dff9e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #e0fff0,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-unittestpalette1: (
  50 : #e8eeef,
  100 : #c5d5d8,
  200 : #9fb9be,
  300 : #799ca3,
  400 : #5c8790,
  500 : #3f727c,
  600 : #396a74,
  700 : #315f69,
  800 : #29555f,
  900 : #1b424c,
  A100 : #8ce5ff,
  A200 : #59daff,
  A400 : #26cfff,
  A700 : #0dc9ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-unittestpalette2: (
  50 : #efe8ea,
  100 : #d8c5cb,
  200 : #be9fa9,
  300 : #a37987,
  400 : #905c6d,
  500 : #914a61,
  600 : #74394c,
  700 : #693142,
  800 : #5f2939,
  900 : #4c1b29,
  A100 : #ff8cab,
  A200 : #ff5985,
  A400 : #ff2660,
  A700 : #ff0d4d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
