
<div class="showcase">

  <mat-card style="width: 2000px;" class="unit-test--card">
    <mat-card-header>
      <mat-card-title class="title">Unit Test Examples</mat-card-title>
      <mat-card-subtitle class="subtitle">A variety pack of Unit Test demos</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>


<div class="showcase">
  <app-reactive-forms-demo> </app-reactive-forms-demo>
  <mat-card class="unit-test--description">
    <mat-card-header>
      <mat-card-subtitle class="subtitle">
        Unit Testing is a way to document complex form logic</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p style="text-indent: 20px">
        When looking up on how to use ReactiveForms in Angular, you usually come
        across some pretty simple examples. Essentially little more than how to
        hookup up the values to FormControls, configure in validators and maybe
        on how to use FormArrays and nested FormGroups.
      </p>
      <p style="text-indent: 20px">
        But what about complex forms that have dynamic fields that are shown
        depending on form state? There can also be dynamic forms within
        FormArrays as well making the matter of controlling the application
        state reliably more difficult.
      </p>
      <p style="text-indent: 20px">
        After development is completed on a complex form, the logic imprinted
        into the code is far from self-documenting. Without some strategy for
        documenting code, a developers ability to navigate and understand and
        code quickly after some time is diminished.
      </p>
      <br />
      <p style="text-indent: 20px">Unit Testing serves a dual purpose.</p>
      <p style="text-indent: 20px">
        First, it provides a means of documentation within the code base so
        developers aren't context switching to external documentation like JIRA
        Stories, Confluence, Microsoft Office Products, etc...
      </p>
      <p style="text-indent: 20px">
        Second, <i>It tests the form logic...</i> †A product of these tests are
        reports that ensure what was in the requirements is actually functioning
        as intended.
      </p>
    </mat-card-content>
    <mat-card-footer style="text-indent: 20px; font-size: 12px"
      >†
      <i
        >Reports are only as good as the tests they are reporting. Without well
        though out and well written tests, reports are just pretty colors and
        jargon.</i
      ></mat-card-footer
    >
  </mat-card>
</div>
