.showcase {
  font-family: 'Space Mono', monospace;
  color: white;
  border-radius: 13px;

  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &.reverse {
    flex-direction: row-reverse;
  }

  & > .inset {
    background: #3f3f3f;
    box-shadow: 0 0 0 #3f3f3f;
  }
}
